* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.left-container {
    width: 25vw;
    height: 100%;
    background-color: #000839;
    position: absolute;
}

.button-container {
    display: block;
    width: 12.5vw;
    margin: 45vh 7vw;
}

.employee-button {
    background-color: #ffa41b;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 4px;
    width: 12.5vw;
    max-width: 170px;
    height: 45px;
    margin-bottom: 10px;
}

.student-button {
    background-color: #ffa41b;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 4px;
    max-width: 170px;
    width: 12.5vw;
    height: 45px;
}

.top-container {
    padding-left: 30%;
    max-width: 1016px;
    max-height: 350px;
    position: absolute;
}


.middle-container {
    position: absolute;
    width: 150px;
    height: 50px;
    margin-left : 35vw;
    margin-top: 20px;
    
}

.new-employee-button {
    background-color: #ffa41b;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 4px;
    max-width: 170px;
    width: 50vw;
    height: 32px;
}


.bottom-container {
    display:block;
    position: absolute;
    max-width: 55vmax;
    max-height: 25vmin;
    margin-left: 25%;
    margin-top: 3%;
}

.bottom-container h1 {
    margin-top: 40px;
    font-size: 5vmin;
    margin-left: 50px;
}

.form-container{
    color: white;
    font-weight: bold;
    max-width: 700px;
    max-height: 250px;
    width: 60vw;
    height: 60vh;
    background-color: #000839;
    position: relative;
    margin-left:5%;
    border: 0px transparent;
    border-radius: 5px;
}

.container1 {
    padding-top: 30px;
    margin-left: 4%;
}

.container2 {
    margin-top: 20px;
    margin-left: 4%;
}

.container1 input, .container2 input{
    max-width: 250px;
    max-height: 30px;
    width: 40vw;
    height: 40vh;
    background-color: #ffffff;
    border: 0px transparent;
    border-radius: 5px;
    padding-left: 15px;
}


#nameField {
    margin-left: 5%;
}

#areaField {
    margin-left: 6.5%;
}

#idField {
    margin-left: 9.5%;
}


.add-button {
    max-width: 150px;
    max-height: 35px;
    width: 20vw;
    height: 45vh;
    border: 0px transparent;
    position: absolute;
    background-color:#ffa41b;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    left: 50%;
}

.grid-container {
    max-width: 800px;
    margin-left: 27%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
    color: #000839;    
}

.grid-header, .grid-item {
    padding: .2em;
    border: 0.01px solid #ffffff;
    background-color: #ffa41b;
    font-weight: bolder;
}

.grid-item {
    display: block;
    font-size: 1.5vw;
    font-weight: 500;
}

.grid-item button {
    width: 50px;
    height: 25px;
    text-align: center;
    background-color: #000839;
    font-weight: bolder;
    border: 0px transparent;
    border-radius: 3px;
    padding: 2px;
    margin-left: 6px;
    color: white;
}

